<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss" scoped>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $background-dark;
  background-color: $background-bright;
  max-width: $break-tablet;
  margin: -8px; // offesetting the body-style
}
</style>
