<template>
  <transition name="modal__fade">
    <div class="modal__backdrop">
      <div class="modal">
        <section class="emotion__section">
          <h2>
            <slot name="modal-header">This is the default tile!</slot>
          </h2>
        </section>
        <section class="modal__body">
          <slot name="modal-body">
            <div
              class="pill pill--warning"
              @click="continueAction"
              v-on:keyup.13="continueAction"
            >Delete</div>
            <div class="pill pill--info" @click="closeAreYouSure" v-on:keyup.esc="close">Cancel</div>
          </slot>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "modal",
  methods: {
    closeAreYouSure() {
      /**
       * emits a close event to the parent
       * where it should be listened for
       * in order to close this modal
       */
      this.$emit("closeAreYouSure");
    },
    continueAction() {
      /**
       * emits a continue-event ot the parent
       * which then know it can continue wit
       * the action
       */
      this.$emit("continueAction");
    }
  }
};
</script>

<style scoped lang="scss">
.modal__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: $background-bright;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.modal__header {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid $background-dark;
  color: $background-dark;
  justify-content: space-between;
}

.modal__body {
  position: relative;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.modal__fade-enter,
.modal__fade-leave-active {
  opacity: 0;
}

.modal__fade-enter-active,
.modal__fade-leave-active {
  transition: opacity 0.5s ease;
}
</style>
