<template>
  <div
    :class="{
          'emotion--happy': editMood.mood=='happy',
          'emotion--neutral': editMood.mood=='neutral',
          'emotion--sad': editMood.mood=='sad' }"
  >
    <div class="emotion emotion--edit">
      <section class="emotion__section">
        <h1>Creating new mood</h1>
      </section>
      <section class="emotion__section">
        <h2>how do you feel?</h2>
        <div class="error" v-if="moodError">{{moodError}}</div>
        <div class="grid-container grid-container--fit-row" @click="moodError=false">
          <div
            v-for="(moodOption, index) in moodOptions"
            :key="index"
            :class="{
          'emotion--active': editMood.mood=='moodOption'}"
          >
            <input
              type="radio"
              :id="moodOption"
              :value="moodOption"
              v-model="editMood.mood"
              :class="[
              'smiley',
              'smiley--' + moodOption,
              {'emotion--active': editMood.mood==moodOption}]"
            />
          </div>
        </div>
      </section>
      <section class="emotion__section">
        <h2>what did you do?</h2>
        <div class="error" v-if="activityError">{{activityError}}</div>
        <div class="flex-container flex-container--fill-rows">
          <span
            v-for="(userActivity, index) in userActivities"
            class="pill"
            v-bind:class="{ 'pill--active': editMood.activities.includes(userActivity) }"
            :key="index"
            @click="addOrRemoveArray(userActivity)"
          >{{userActivity}}</span>

          <span class="pill">
            <span v-if="!showAddActivity" @click="toggleAddActivity">add activity...</span>
            <span v-else>
              <input
                type="text"
                name="addActivity"
                id="addAdctivity"
                ref="addActivity"
                v-model="toBeAddedActivity"
                placeholder="add activity..."
              />
              <button
                class="btn pill"
                :class="[addActivityError ? 'pill--warning' : 'pill--accent']"
                @click="addNewActivity"
              >&#10003;</button>
            </span>
          </span>
        </div>
      </section>
      <section class="emotion__section">
        <h2>where are you?</h2>
        <div>{{ editMood.location }}</div>
      </section>
    </div>

    <!-- start navigation bar -->
    <div class="overlay overlay__navigation flex-conainer--fill-rows flex-container">
      <router-link to="/today" style="grid-area:center1">
        <div class="pill overlay--big pill--warning">
          <IconBase
            icon-name="arrow-right"
            width="16"
            iconFillColor="#070006"
            svgStyle="transform:rotate(45deg);"
          >
            <IconPlus />
          </IconBase>
        </div>
      </router-link>
      <div class="pill overlay--big pill--accent" @click="saveMood" style="grid-area:center2">
        <IconBase icon-name="arrow-right" width="16" iconFillColor="#070006">
          <IconFloppy />
        </IconBase>
      </div>
    </div>
  </div>
</template>

<script>
import { RepositoryFactory } from "./../assets/api/RepositoryFactory";
const GeoRepository = RepositoryFactory.get("geos");
const MoodRepository = RepositoryFactory.get("moods");
const ActivityRepository = RepositoryFactory.get("activities");

import IconBase from "@/components/Creatives/IconBase.vue";
import IconFloppy from "@/components/Creatives/IconFloppy.vue";
import IconPlus from "@/components/Creatives/IconPlus.vue";

export default {
  name: "MoodEditor",
  components: {
    IconBase,
    IconFloppy,
    IconPlus
  },
  data() {
    return {
      moodOptions: ["happy", "neutral", "sad"],
      moodError: null,
      activityError: null,
      addActivityError: null,
      showAddActivity: false,
      toBeAddedActivity: null,
      editMood: {
        user_id: localStorage.getItem('user_id'),
        mood: null,
        activities: [],
        timestamp: new Date().getTime(),
        location: "somewhere"
      },
      userActivities: []
    };
  },
  created() {
    this.fetchGeo();
    this.fetchActivities();
  },
  methods: {
    toggleAddActivity() {
      if (this.showAddActivity === true) {
        this.showAddActivity = false;
      } else {
        this.showAddActivity = true;
        this.$nextTick(() => this.$refs.addActivity.focus());
      }
    },
    addNewActivity() {
      if (this.toBeAddedActivity && this.toBeAddedActivity.length > 0) {
        this.userActivities.push(this.toBeAddedActivity);
        this.addOrRemoveArray(this.toBeAddedActivity);
        this.toBeAddedActivity = null;
        this.showAddActivity = false;
        this.addActivityError = null;
      } else {
        this.addActivityError = "nothing added bro";
        this.$refs.addActivity.placeholder = "dont add an empty activity";
      }
    },
    addOrRemoveArray(input) {
      if (this.editMood.activities.includes(input)) {
        this.editMood.activities = this.editMood.activities.filter(value => {
          return value != input;
        });
      } else {
        this.editMood.activities.push(input);
      }
    },
    getLocationString(locationObject) {
      return `${locationObject.location.city}, ${locationObject.location.country}`;
    },
    async fetchGeo() {
      const { data } = await GeoRepository.get();
      this.editMood.location = this.getLocationString(data);
    },
    async fetchActivities() {
      const { data } = await ActivityRepository.get({
        user_id: this.user_id,
        authToken: localStorage.getItem('authToken')
      });
      this.userActivities = data.data.activities;
    },
    async saveMood() {
      if (!this.editMood.mood) {
        window.scrollTo(0, 0);
        this.moodError = "Select a mood first";
      } else if (!this.editMood.activities.length > 0) {
        window.scrollTo(0, 0);
        this.activityError = "Add at least one";
        this.activityError = "Add at least one";
      } else {
        await MoodRepository.post(this.editMood);
        await ActivityRepository.post({
          activities: this.editMood.activities,
          user_id: this.editMood.user_id,
        });
        this.$router.push({ name: "today" });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.test {
  display: none;
}
</style>
