<template>
  <div class="emotion">
    <div class="flex-conainer--fill-rows flex-container">
      <div class="pill pill--active" @click="subtractMonth">&#60;</div>
      <h2>{{month + ' - ' + year}}</h2>
      <div class="pill pill--active" @click="addMonth">></div>
    </div>
    <div class="pill calendar__days">
      <span v-for="(day, dayIndex) in days" :key="dayIndex + day">{{ day }}</span>
    </div>
    <div class="calendar__days">
      <li v-for="(blank, blankIndex) in firstDayOfMonth" :key="'b' + blankIndex">&nbsp;</li>
      <li
        v-for="(date, dateIndex) in daysInMonth"
        :key="dateIndex"
        class="emotion--happy"
        :class="{'current-day': date == initialDate &amp;&amp; month == initialMonth && year == initialYear}"
      >
        {{ date }}
        <span></span>
      </li>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      today: moment(),
      dateContext: moment(),
      days: ["S", "M", "T", "W", "T", "F", "S"]
    };
  },
  computed: {
    year: function() {
      return this.dateContext.format("Y");
    },
    month: function() {
      return this.dateContext.format("MMMM");
    },
    daysInMonth: function() {
      return this.dateContext.daysInMonth();
    },
    currentDate: function() {
      return this.dateContext.get("date");
    },
    firstDayOfMonth: function() {
      var firstDay = moment(this.dateContext).subtract(this.currentDate - 1, "days");
      return firstDay.weekday();
    },
    initialDate: function() {
      return this.today.get("date");
    },
    initialMonth: function() {
      return this.today.format("MMMM");
    },
    initialYear: function() {
      return this.today.format("Y");
    }
  },
  methods: {
    addMonth: function() {
      this.dateContext = moment(this.dateContext).add(1, "month");
    },
    subtractMonth: function() {
      this.dateContext = moment(this.dateContext).subtract(1, "month");
    }
  }
};
</script>

<style lang="scss" scoped>
.calendar {
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.1rem;
  }
}
</style>
