<template>
  <div class="emotion emotion--edit">
    <div v-if="isLogin">
      <section class="emotion__section">
        <h1>Sign Up</h1>
      </section>
      <section class="error" v-if="error">{{ error }}</section>
      <section class="emotion__section grid-container grid-container--spaced-rows">
        <input type="text" v-model="signup.username" placeholder="username" />
        <input type="password" v-model="signup.password" placeholder="password" />
        <input type="password" v-model="signup.confirmPassword" placeholder="confirmPassword" />
      </section>
      <div
        class="pill overlay--big pill--accent"
        @click="completeSignup"
        style="grid-area:center2"
      >Sign up</div>
    </div>
    <div v-else>
      <section class="emotion__section">
        <h1>Log In</h1>
      </section>
      <section class="error" v-if="error">{{ error }}</section>
      <section class="emotion__section grid-container grid-container--spaced-rows">
        <input type="text" v-model="login.username" placeholder="username" />
        <input type="password" v-model="login.password" placeholder="password" />
      </section>
      <div
        class="pill overlay--big pill--accent"
        @click="completeLogin"
        style="grid-area:center2"
      >Log In</div>
    </div>
    <span class="overlay overlay--blob">
      {{ viewText }}
      <div
        class="pill overlay--big pill--info"
        style="grid-area:center2"
        @click="toggleView"
      >{{ viewButtonText }}</div>
    </span>
  </div>
</template>

<script>
import { RepositoryFactory } from './../assets/api/RepositoryFactory';
const UserRepository = RepositoryFactory.get('user');

export default {
  name: 'LoginSignUp',
  data() {
    return {
      isLogin: false,
      isLoading: false,
      error: null,
      signup: {
        username: null,
        password: null,
        confirmPassword: null
      },
      login: {
        username: null,
        password: null
      }
    };
  },
  methods: {
    toggleView() {
      this.isLogin = !this.isLogin;
    },
    async completeSignup() {
      if (
        !this.signup.username ||
        !this.signup.password ||
        !this.signup.confirmPassword
      ) {
        this.error = 'fill in form before signing up';
        return;
      } else if (!this.passwordsMatch) {
        this.error = 'Your passwords must match';
        return;
      } else {
        const resp = await UserRepository.post('auth/signup', {
          username: this.signup.username,
          password: this.signup.password
        });
        if (resp.status == 200) {
          localStorage.setItem('authToken', resp.data.authToken);
          localStorage.setItem('user_id', resp.data.user_id);
          this.$router.push({ name: 'today' });
        } else {
          this.error = resp.data;
        }
      }
    },
    async completeLogin() {
      this.isLoading = true;
      if (!this.login.username || !this.login.password) {
        this.error = 'fill in form before signing up';
        return;
      } else {
        const resp = await UserRepository.post('auth/login', {
          username: this.login.username,
          password: this.login.password
        });
      // eslint-disable-next-line no-console
        console.log(resp);

        if (resp.status == 200) {
          localStorage.setItem('authToken', resp.data.authToken);
          localStorage.setItem('user_id', resp.data.user_id);
          this.$router.push({ name: 'today' });
        } else {
          this.error = resp.data;
        }
      }
      this.isLoading = false;
    }
  },
  computed: {
    passwordsMatch: function() {
      return this.signupPassword == this.signupConfirmPassword;
    },
    viewText: function() {
      if (this.isLogin) {
        return 'Already have an account?';
      } else {
        return "Don't have an account?";
      }
    },
    viewButtonText: function() {
      if (this.isLogin) {
        return 'Log In';
      } else {
        return 'Sign Up';
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.test {
  display: none;
}
</style>
