<template>
  <div>
    <!-- mood display -->
    <div v-if="error">{{ error }}</div>
    <div
      v-if="mood"
      class="emotion"
      :class="{
          'emotion--happy': mood.mood=='happy',
          'emotion--neutral': mood.mood=='neutral',
          'emotion--sad': mood.mood=='sad' }"
    >
      <section class="emotion__section">
        <h1>On {{ [ mood.timestamp, "x" ] | moment("Do MMM YYYY") }}</h1>
        <span>{{ [ mood.timestamp, "x" ] | moment("h:mm:ss a") }}</span>
      </section>
      <section class="emotion__section">
        <h2>I felt</h2>
        <div class="smiley__container smiley">
          <IconBase icon-name="smiley">
            <IconHappy v-if="mood.mood=='happy'" />
            <IconNeutral v-if="mood.mood=='neutral'" />
            <IconSad v-if="mood.mood=='sad'" />
          </IconBase>
        </div>
      </section>
      <section class="emotion__section">
        <h2>I did</h2>
        <div class="flex-container flex-container--fill-rows">
          <span
            v-for="(userActivity, index) in activityArray"
            class="pill"
            :key="index"
          >{{ userActivity }}</span>
        </div>
      </section>
      <section class="emotion__section">
        <h2>I was</h2>
        <div>{{ mood.location }}</div>
      </section>
    </div>

    <!-- delete modal -->
    <AreYouSureModal
      v-show="showDeleteModal"
      @closeAreYouSure="showDeleteModal = false"
      @continueAction="actuallyDeleteModal"
    >
      <template slot="modal-header">Are you sure you want to delete this mood?</template>
    </AreYouSureModal>

    <!-- bottom navigation -->
    <div class="overlay overlay__navigation flex-conainer--fill-rows flex-container">
      <div class="pill" style="grid-area:nav1;">
        <IconBase icon-name="logo" width="16">
          <IconLogo />
        </IconBase>
      </div>
      <div
        v-if="prev_get_index>=0"
        class="pill pill--active"
        style="grid-area:left"
        @click="fetchMood(prev_get_index)"
      >
        <IconBase
          icon-name="arrow-left"
          width="16"
          iconFillColor="#070006"
          svgStyle="transform:rotate(180deg);"
        >
          <IconArrow />
        </IconBase>
      </div>
      <router-link to="/add" style="grid-area:center1">
        <div class="pill pill--accent">
          <IconBase icon-name="plus" width="16" strokeWidth="5px">
            <iconPlus />
          </IconBase>
        </div>
      </router-link>
      <div class="pill pill--warning" @click="showDeleteModal = true" style="grid-area:center2">
        <IconBase icon-name="trashcan" width="16" iconFillColor="#070006">
          <IconTrashCan />
        </IconBase>
      </div>
      <div
        v-if="next_get_index<=max_mood"
        class="pill pill--active"
        style="grid-area:right"
        @click="fetchMood(next_get_index)"
      >
        <IconBase icon-name="arrow-right" width="16" iconFillColor="#070006">
          <IconArrow />
        </IconBase>
      </div>
      <router-link to="/user" style="grid-area:nav2" class="overlay__subnav overlay__subnav--edge">
        <IconBase icon-name="trashcan" width="16" iconFillColor="#070006">
          <IconPerson />
        </IconBase>
      </router-link>
    </div>
  </div>
</template>

<script>
import IconBase from "@/components/Creatives/IconBase.vue";
import IconHappy from "@/components/Creatives/IconHappy.vue";
import IconNeutral from "@/components/Creatives/IconNeutral.vue";
import IconSad from "@/components/Creatives/IconSad.vue";
import IconArrow from "@/components/Creatives/IconArrow.vue";
import IconTrashCan from "@/components/Creatives/IconTrashCan.vue";
import IconPlus from "@/components/Creatives/IconPlus.vue";
import IconLogo from "@/components/Creatives/IconLogo.vue";
import IconPerson from "@/components/Creatives/IconPerson.vue";

import AreYouSureModal from '@/components/Modals/AreYouSureModal.vue';

import { RepositoryFactory } from "./../assets/api/RepositoryFactory";
const MoodRepository = RepositoryFactory.get("moods");

export default {
  components: {
    IconBase,
    IconHappy,
    IconNeutral,
    IconSad,
    IconArrow,
    IconTrashCan,
    IconPlus,
    IconPerson,
    IconLogo,
    AreYouSureModal
  },
  data() {
    return {
      user_id: localStorage.getItem('user_id'),
      error: null,
      isLoading: false,
      next_get_index: 0,
      prev_get_index: -2,
      mood: null,
      max_mood: null,
      showDeleteModal: false
    };
  },
  computed: {
    activityArray: function() {
      return this.mood.activities.split(",");
    }
  },
  created() {
    this.fetchMood(0);
  },
  methods: {
    handleIndexIteration(get_index) {
      if (get_index === this.next_get_index) {
        this.next_get_index += 1;
        this.prev_get_index += 1;
      } else {
        this.next_get_index -= 1;
        this.prev_get_index -= 1;
      }
    },
    async actuallyDeleteModal() {
      this.isLoading = true;
      this.showDeleteModal = false
      await MoodRepository.delete({
        user_id: this.user_id,
        mood_id: this.mood.mood_id,
        authToken: localStorage.getItem('authToken')
      });

      if (this.next_get_index <= this.max_mood) {
        this.fetchMood(this.next_get_index);
      } else {
        this.fetchMood(this.prev_get_index);
      }

      this.isLoading = false;
    },
    async fetchMood(get_index) {
      this.isLoading = true;
      const resp = await MoodRepository.get({
        user_id: this.user_id,
        from_index: get_index,
        to_index: get_index,
        authToken: localStorage.getItem('authToken')
      });

      if (resp.data.success && resp.data.data.length > 0) {
        this.mood = resp.data.data[0];
        this.max_mood = resp.data.max_mood;
      } else if (resp.data.errors) {
        this.error = resp.data.errors;
      } else {
        this.error = 'i guess, you broke the app. an unknown error occured. have you tried turning it on and off?'
      }
      this.handleIndexIteration(get_index);
      this.isLoading = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.test {
  display: none;
}
</style>
