<template>
  <div>
    <div class="emotion">
      <div class="emotion__section">
        <h1>User Settings</h1>
      </div>Eventually user content goes here, I guess...
      <span>
        <div
          class="pill overlay--big pill--warning"
          @click="completeLogout"
          style="grid-area:center2"
        >Log Out</div>
      </span>
    </div>

    <div class="overlay overlay__navigation flex-conainer--fill-rows flex-container">
      <router-link to="/today" style="grid-area:nav1;" class="pill">
        <IconBase icon-name="trashcan" width="16" iconFillColor="#070006">
          <IconLogo />
        </IconBase>
      </router-link>
      <div class="overlay__subnav overlay__subnav--edge" style="grid-area:right">
        <IconBase icon-name="pen" width="16" iconFillColor="#070006">
          <IconPen />
        </IconBase>
      </div>
      <div style="grid-area:nav2" class="overlay__subnav">
        <IconBase icon-name="trashcan" width="16" iconFillColor="#59656F" iconColor="#59656F">
          <IconPerson />
        </IconBase>
      </div>
    </div>
  </div>
</template>

<script>
import IconBase from "@/components/Creatives/IconBase.vue";
import IconLogo from "@/components/Creatives/IconLogo.vue";
import IconPerson from "@/components/Creatives/IconPerson.vue";
import IconPen from "@/components/Creatives/IconPen.vue";

import { RepositoryFactory } from "./../assets/api/RepositoryFactory";
const UserRepository = RepositoryFactory.get("user");

export default {
  name: "user",
  components: {
    IconBase,
    IconLogo,
    IconPerson,
    IconPen
  },
  methods: {
    async completeLogout() {
      await UserRepository.post("auth/logout", {});
      localStorage.removeItem('user_id');
      localStorage.removeItem('authToken');
      this.$router.push({ path: "/" });
    }
  }
};
</script>

<style lang="scss" scoped>
.test {
  display: none;
}
</style>