@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Roboto:300i&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: $background-dark;
}

a {
  text-decoration: none;
  color: $background-dark;

  &:active {
    text-decoration: none;
  }
}

ul,
li {
  list-style: None;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: left;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  margin: 0;
}

h2 {
  text-align: left;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  margin: 1rem 0;
}

h3 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

h4 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  margin: 0;
}

.tbright {
  // text bright
  color: $background-bright;
}

.tfancy {
  // text fancy
  font-family: 'Permanent Marker', cursive;
}

.error {
  color: $warning-color;
}
