.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.curtain-enter-active, .curtain-leave-active {
  transition: all .3s ease;
}
.curtain-enter, .curtain-leave-to /* .fade-leave-active below version 2.1.8 */ {
  // in order for this animation to work,
  // the animateable object shuold not already have
  // a transform property
  transform: translateX(100%) !important;
  opacity: 0;
}

.blend-in-enter-active, .blend-in-leave-active {
  transition: opacity .3s ease;
}
.blend-in-enter, .blend-in-leave-to /* .fade-leave-active below version 2.1.8 */ {
  // in order for this animation to work,
  // the animateable object shuold not already have
  // a transform property
  opacity: 0;
}