$background-bright: #EBE7EA;
$background-bright-2: #7f7f7f;
$bright-gradient: linear-gradient(to bottom right, transparent 80%, $background-bright-2);

$background-middle: #59656F;

$background-dark: #070006;

$accent-color: #7DCFB6;
$accent-color-2: #29C618;
$accent-gradient: linear-gradient(to bottom right, $accent-color, $accent-color-2);

$info-color: #FFBA49;
$info-color-2: #D9D92C;
$info-gradient: linear-gradient(to bottom right, $info-color, $info-color-2);

$warning-color: #EF5B5B;
$warning-color-2: #CB1281;
$warning-gradient: linear-gradient(to bottom right, $warning-color, $warning-color-2);


$break-tablet: 768px;
$break-desktop: 1176px;