@import 'variables';
@import 'transitions';
@import 'textstyles';

.grid-container {
  display: grid;
  &--fit-row {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    justify-items: center;
  }
  &--spaced-rows {
    padding: 1rem 0;
    row-gap: 1rem;
    width: 100%;
  }
}

.flex-container {
  display: flex;
  &--fill-rows {
    flex-direction: rows;
    flex-wrap: wrap;
  }
}

.pill {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: $background-middle;
  color: $background-bright;
  text-align: center;

  &--active {
    color: $background-dark;
    background-image: $info-gradient;
  }
  &--accent {
    background-color: $accent-color;
  }
  &--warning {
    background-color: $warning-color;
  }
}

.emotion {
  min-height: 95vh;
  background-image: $bright-gradient;
  padding: 0.8rem;

  &__section {
    box-shadow: 0 0.8rem 0.8rem -1.2rem $background-middle;
    padding-bottom: 0.2rem;
  }

  &--edit {
    -webkit-box-shadow: 0px 0px 0.3rem 0.1rem $background-middle;
    -moz-box-shadow: 0px 0px 0.3rem 0.1rem $background-middle;
    box-shadow: 0px 0px 0.3rem 0.1rem $background-middle;
    margin: 0 0.8rem;
    background-color: $background-bright;
  }

  &--active {
    border-radius: 35%;
    -webkit-box-shadow: 0 0 2rem 0px $background-middle;
    -moz-box-shadow: 0 0 2rem 0px $background-middle;
    box-shadow: 0 0 2rem 0px $background-middle;
  }

  &--happy {
    background-image: $accent-gradient;
  }
  &--neutral {
    background-image: $info-gradient;
  }
  &--sad {
    background-image: $warning-gradient;
  }
}

.smiley {
  -webkit-appearance: none;
  width: 4rem;
  height: 4rem;
  border: none;
  cursor: pointer;
  margin: 0 5px;

  &--happy {
    background: url('/img/icons/happy-face.svg');
    background-size: cover;
  }
  &--neutral {
    background: url('/img/icons/neutral-face.svg');
    background-size: cover;
  }
  &--sad {
    background: url('/img/icons/sad-face.svg');
    background-size: cover;
  }
}

.overlay {
  position: fixed;
  bottom: 0rem;

  &__navigation {
    width: 100vw;
    background-color: $background-middle;
    -webkit-box-shadow: 0px -1px 8px 0px $background-middle;
    -moz-box-shadow: 0px -1px 8px 0px $background-middle;
    box-shadow: 0px -1px 8px 0px $background-middle;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    grid-template-areas: 'nav1 left center1 center2 right nav2';
  }
  &__subnav {
    background: $background-bright;
    padding: 0.5rem 1rem;
    &--edge {
      border-radius: 50% 0 0 50%;
    }
  }
  &--blob::before {
    display: block;
    content: "";
    background-image: url(/img/backgrounds/blob-green-50.svg);
    background-repeat: no-repeat;
    height: 40vw;
    width: 40vh;
    opacity: .9;
    position: absolute;
    top: -3rem;
    left: -3rem;
    z-index: -1;
    background-size: contain;
  }
}

.btn {
  text-decoration: none;
  border: none;
  justify-content: center;
  cursor: pointer;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  -webkit-transition: background 0.4 ease-out;
  -moz-transition: background 0.4 ease-out;
  -o-transition: background 0.4 ease-out;
  transition: background 0.4 ease-out;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: none;
  border-bottom: 0.1rem solid $background-dark;
  font-size: 1rem;
  background-color: transparent;
  max-width: 100%;

  &:focus {
    outline: none;
  }

  &:valid {
    border-bottom: 0.1rem solid $accent-color;
  }
}
